.menulayout {
	display: block;
	position:fixed;
	top: 0;
	right:0;
	left:0;
	z-index: 1030;
	border-width:0 0 1px;
	border: 1px solid transparent;
	border-color:white;
	border-radius: 0;
	background-image:linear-gradient(to bottom, black, black 100%);
	background-repeat: repeat-x;
	background-color:white;
	margin-bottom: 20px;
	min-height: 120px;
	box-sizing:border-box;
}

#test{
	text-align: bottom;
}